<h1>Home</h1>

<%= link_to 'Same page anchor link', '#anchor', 'data-turbolinks': false %>

<div class="spanner" style="height: 700px;"></div>

<div id="anchor" style="background-color: aquamarine; height: 300px;">
  <span>Anchored area</span>
</div>
